{% extends 'lab06/base.html' %}




{% block content %}
<h1>{% block title %} Add a New Course {% endblock %}</h1>




<form method="POST" action="/lab06/">
  {{ form.csrf_token }}
  <p>
    {{ form.username.label }}
    {{ form.username(size=20) }}
  </p>




  {% if form.username.errors %}
  <ul class="errors">
    {% for error in form.username.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}




  <p>
    {{ form.email.label }}
    {{ form.email(size=20) }}
  </p>





  {% if form.email.errors %}
  <ul class="errors">
    {% for error in form.email.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}




  <p>
    {{ form.password.label }}
    {{ form.password() }}
  </p>




  {% if form.password.errors %}
  <ul class="errors">
    {% for error in form.password.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}




  <p>
    {{ form.confirm_password() }} 
    {{ form.confirm_password.label }}
  </p>




  {% if form.confirm_password.errors %}
  <ul class="errors">
    {% for error in form.confirm_password.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}


  <p>
    <input type="submit" value="Sign Up">
  </p>
</form>




{% endblock %}