<!DOCTYPE html>
<html lang="en">
<!--Siriwat Tidsuksai 670510727-->


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Precipitation Calendar - Hat Yai</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hw03.css') }}">
</head>


<body>
  
  <h2>Precipitation Calendar - Hat Yai</h2>

  {% set month = {} %}
    {% for e in data %}
      {% set key = e.month ~ ' ' ~ e.year %}
      {% if month[key] is not defined %}
        {% set _ = month.update({key:{}}) %}
      {% endif %}
      {% set _ = month[key].update({e.day: e}) %}
    {% endfor %}

  <table>
    <T>
      <tr>
        {% for M_Y in month.keys() %}
          <th>{{ M_Y }}</th>
        {% endfor %}
      </tr>
    </T>
    <tbod>
      {% for day in range(1,32) %}
      <tr>
        {% for M_Y, days in month.items() %}
          {% set e = days.get(day) %}
          <td>
            {% if e %}
              <div class="cell-content">
                <span>{{ e.day }}</span>
                <span>{{ e.arrow }} {{ e.prcp }}</span>
              </div>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbod>
  </table>

</body>
</html>

