.icon-good {
   background-image: url('../ico/good.png');
   background-size: contain; 
   background-repeat: no-repeat;
   background-position: center center;
   display: inline-block; 
   width: 90%; 
   height: 0; 
   padding-bottom: 60%; /* Maintains aspect ratio */
   margin: auto; 
}

.icon-moderate {
   background-image: url('../ico/moderate.png');
   background-size: contain; 
   background-repeat: no-repeat;
   background-position: center center;
   display: inline-block; 
   width: 90%; 
   height: 0; 
   padding-bottom: 60%; /* Maintains aspect ratio */
   margin: auto; 
}

.icon-unhealthy-sensitive {
   background-image: url('../ico/unhealthy-sensitive.png');
   background-size: contain; 
   background-repeat: no-repeat;
   background-position: center center;
   display: inline-block; 
   width: 90%; 
   height: 0; 
   padding-bottom: 60%; /* Maintains aspect ratio */
   margin: auto; 
}

.icon-unhealthy {
   background-image: url('../ico/unhealthy.png');
   background-size: contain; 
   background-repeat: no-repeat;
   background-position: center center;
   display: inline-block; 
   width: 90%; 
   height: 0; 
   padding-bottom: 60%; /* Maintains aspect ratio */
   margin: auto; 
}

.icon-very-unhealthy {
   background-image: url('../ico/very-unhealthy.png');
   background-size: contain; 
   background-repeat: no-repeat;
   background-position: center center;
   display: inline-block; 
   width: 90%; 
   height: 0; 
   padding-bottom: 60%; /* Maintains aspect ratio */
   margin: auto; 
}

.icon-hazardous {
   background-image: url('../ico/hazardous.png');
   background-size: contain; 
   background-repeat: no-repeat;
   background-position: center center;
   display: inline-block; 
   width: 90%; 
   height: 0; 
   padding-bottom: 60%; /* Maintains aspect ratio */
   margin: auto;
}

/* Color by AQI */
.good {
    background-color: #00E400;
}

.moderate {
    background-color: #FFFF00;
}

.unhealthy-sensitive {
    background-color: #FF7E00;
}

.unhealthy {
    color: #FFFFFF;
    background-color: #FF0000;
}

.very-unhealthy {
    color: #FFFFFF;
    background-color: #8F3F97;
}

.hazardous {
    color: #FFFFFF;
    background-color: #7E0023;
}

/* Element */
.card-header {
    background-color: #e7ecf0;
}

.card-footer {
    background-color: #e7ecf0;
}

.day-value {
    text-align: center;
}

.aqi-value {
    text-align: center;
}

.aqi-status {
    text-align: center;
    margin-left: 70%;
}