body {
  background-color: white;
}

h1 {
  font-family: Times New Roman;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 0;
}

h2 {
  font-family: Times New Roman;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  margin-left: 30px;
  font-family: Times New Roman;
  font-size: 16px;
}

h3 {
  margin-left: 30px;
  font-family: Times New Roman;
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 16px;
}

li {  
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

p1 {
  font-family: Times New Roman;
  font-size: 16px;
}

a {
  font-family: Times New Roman;
  color: blue;
  font-size: 16px;
}

b {
  font-family: Times New Roman;
  font-size: 16px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: white;
}
